<head>
  <link href="css/launch.css" rel="stylesheet">
  <script src='js/markerwithlabel_packed.js'></script>
  <style>
    .form-bar{
      margin-bottom: 1px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      z-index: -99999;
      border-radius: 0px;
      height: 34px;
    }

    .has-header{
      top: 24px;
    }

    div.list.list-inset{
      margin-left:0px;
      margin-right:0px;
    }
  </style>
</head>

<header class="bar bar-header bar-calm" style="margin-bottom: 0px;">
  <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
  <h1 class="title">chaffy</h1>
</header>

<content has-header="true" has-bottom="false" has-tabs="false" id="firstElem">        
  <!-- <form ng-submit="doNothing()"> form ui-keypress="{13:'findChats()'}" -->
<div class="list list-inset">

<google-places location=location ng-model="address" ng-keypress="blurOnEnterAddress($event)"></google-places>
<!--
<button class="button button-positive" ng-click="searchGeocomplete()" id="launch-geocomplete">search</button>

 <div id="loadingMap" ng-hide="loadedMap">
    <p style="font-size: 0.8rem; font-style: italic; opacity: 0.8;"> loading map...
    </p>
    <p><i class="icon ion-loading-d" style="font-size: 4rem; opacity: 0.5;"></i></p>
  </div>
	<div style="height:34px;">" "</div>
 -->
  <div id="map-canvas" style="z-index: 0;">
  <!--
     <shape id="myCircle" name="circle" stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2" geoFallbackCenter="[40.777225004040009, -73.95218489597806]" 
     center="{{center()}}" radius="3000" editable="true" fillColor: '#fff'></shape>
     -->
  </div>

<div class="form-bar" id="username-bar">
    <input type="text" ng-model="userPro.username" class="convoInput" id="userAlias" placeholder="my alias" ng-keypress="blurOnEnter($event)">
</div>
<div class="form-bar">
      <label class="item item-radio bar-gender-item" id="radio-male">
        <!--
        <span class="input-label">Gender</span>      
        <div class="button-bar">
          <a class="button button-calm button-m">Male</a>
          <a class="button button-energized button-f">Female</a>
        </div>
        -->
        <input type="checkbox" data-ng-true-value="male" name="userGender" data-ng-model="userPro.gender" data-ng-false-value="false" value="male" data-ng-change="blurKeyboard()" />
        <div class="item-content">male
        </div>
        <!--<i class="radio-icon ion-checkmark"> data-ng-value="0"</i>-->
      </label>

  <label class="item item-radio bar-gender-item" id="radio-fem">
      <input type="checkbox" name="userGender" data-ng-model="userPro.gender" data-ng-true-value="female" data-ng-false-value="false" value="female" data-ng-change="blurKeyboard()"/>
        <div class="item-content">female
        </div>
  </label>     
<!--
<label class="item item-radio bar-gender-item" id="radio-sec">
      <input type="radio" name="userGender" data-ng-model="userGender" data-ng-value="2">
        <div class="item-content">secret
        </div>
</label>
-->
</div>


<div class="form-bar">
      <label class="item item-radio bar-age-item" id="radio-age-0">
        <!--<span class="input-label">Age</span>              
        <input type="text" placeholder="three ranges: 18-29; 30-49; 49+" data-ng-model="newRoomNameId">
        -->
        <input type="checkbox" name="group-age" data-ng-model="userPro.age" data-ng-true-value="18-29" data-ng-false-value="false" data-ng-change="blurKeyboard()">
        <div class="item-content">18-29
        </div>
      </label>
      <label class="item item-radio bar-age-item" id="radio-age-1">
        <input type="checkbox" name="group-age" data-ng-model="userPro.age" data-ng-true-value="30-49" data-ng-false-value="false" data-ng-change="blurKeyboard()">
        <div class="item-content">30-49
        </div>
      </label>
      <label class="item item-radio bar-age-item" id="radio-age-2">
        <input type="checkbox" name="group-age" data-ng-model="userPro.age" data-ng-true-value="49+" data-ng-false-value="false" data-ng-change="blurKeyboard()">
        <div class="item-content">49+
        </div>
      </label>
      <!--
      <label class="item item-radio bar-age-item" id="radio-age-sec">
        <input type="radio" name="group-age" data-ng-model="userAge" data-ng-value="3">
        <div class="item-content">secret
        </div>
      </label>
      -->
</div>           
      <!--<label class="item item-input item-stacked-label">-->
        <!--<span class="input-label">Map</span>
                      
        <input type="text" placeholder="circle radius" data-ng-model="newRoomDescription" class="convoInput">
        -->

<!--
  <input id="address" type="text" ng-keypress="blurOnEnterAddress($event)" ng-model="address">
  -->
 
<!--
<div id="map-container" ng-click="blurKeyboard()">
<div ng-if="map.isReady && circle.isReady">
        <google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" id="map_canvas" events="map.events"> 
        <circle center="circle.center" visible="true" radius="circle.radius" fill="circle.fill" draggable="true" editable="true" stroke="circle.stroke" events="circle.events"></circle>
        </google-map>
</div>
</div>
-->
    </div>
    
  <!--</form>-->
<!--
  <div style="width:100%; padding-top:0px; padding-left: 0px; padding-right: 0px;">
      <button class="button button-full button-positive" ng-click="findChats()" id="launch-go">find chats</button>
  </div>
-->
  
</content>

<div class="bar bar-footer bar-stable" id="bar-footer-message-box" style="height:65px;">
<button class="button button-full button-positive" ng-click="findChats()" id="launch-go">find chats</button>
</div>
